<div class="flex-child">
  <% if comment.image? %>
    <%= image_tag comment.image, class: "img-settings img-responsive center-block" %>
  <% end %>
  <h5><%= comment.body %></h5>
  <%= link_to ("Edit"), edit_topic_post_comment_path(@topic, @post, comment), :class => "btn btn-warning" %>
  <%= link_to ("Delete"), topic_post_comment_path(@topic, @post, comment), method: :delete, data: { confirm: "Delete?" }, :class => "btn btn-warning" %>
</div>
