
#header {
  height: 52px;
  z-index: 1;

  .navbar {
    margin-bottom: 0;
    font-weight: bold;
    background-color: white;
    font-family: Cabin Sketch;
    border-color: transparent;

    a, a:visited {
      color: orange;
    }
  }
}
