.posts {

  .background_posts {
    background-image: asset-url("escape3.png");
    height: 35vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background2_posts {
    background-image: asset-url("sepialights2.jpeg");
    height:auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px;
  }

  .flex-child {
    flex: 0 0 400px;
    margin: 5px;
    padding: 20px;
    border: 4px solid orange;
    background-color: white;
    opacity: 0.8;
  }

  .new_post_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .title-link-color {
    color: orange
  }
}
